@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --colorPrimero: #3f50d1;
  --colorSegundo: #5c67dd;
  --colorTercero: #787ee8;
  --colorCuarto: #9594f4;
  --colorCinco: #b1abff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
/* estilos de la barra de navegacion */
header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: static;
  top: 0;
  left: 0;
}
.nombreEmpresa a {
  color: white;
  font-size: 1.5em;
  margin-left: 10px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: black;
  list-style: none;
}
ul,
li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  color: black;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: all 300ms ease;
}
.btn-nav {
  width: 10em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  border: 3px ridge var(--colorPrimero);
  outline: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.btn-nav::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #000000;
  transition: 0.5s;
  transform-origin: center;
}

.btn-nav::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #000000;
  transition: 0.5s;
}

.btn-nav:hover::before,
.btn-nav:hover::after {
  transform: scale(0);
}

.btn-nav:hover {
  box-shadow: inset 0px 0px 20px var (--colorPrimero);
}
main {
  height: 90.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: #1a1a1a;
  border-radius: 20px;
  box-shadow: rgb(31 31 31 / 17%) 0px -23px 25px 0px inset,
    rgb(108 108 108 / 23%) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 40px;
  max-width: 380px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.heading {
  color: var(--colorSegundo);
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 5px;
}

.paragraph {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  background: none;
  border: 1px solid #353535;
  padding: 15px 23px;
  font-size: 16px;
  border-radius: 8px;
  color: var(--colorCinco);
  width: 100%;
  box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
    rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input-group input:focus {
  border-color: var(--colorCinco);
  outline: none;
}

.btn-iniciar{
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: var(--colorTercero);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-weight: bolder;
  transition: all 300ms ease;
}

.btn-iniciar:hover {
  background-color: var(--colorSegundo);
  box-shadow: 0px 0px 10px var(--colorCuarto);
  scale: 1.05;
}
.bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.bottom-text a {
  color: var(--colorTercero);
  text-decoration: none;
  transition: color 0.3s ease;
}

.bottom-text a:hover {
  color: var(--colorSegundo);
}

@media (max-width: 990px) {
  .barra {
    display: block;
    cursor: pointer;
  }
  .barra .linea {
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 6px 6px 0px;
  }
  .nav-bar {
    height: 0px;
    position: fixed;
    top: 60px;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    overflow: hidden;
    z-index: 10;
  }
  .nav-bar.active {
    height: 150px;
  }
  .nav-bar ul {
    display: block;
    width: fit-c5ontent;
    margin: auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    padding-left: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar li {
    margin-bottom: 20px;
  }
}
